@page
@model IndexModel
@{
    ViewData["Title"] = "CovidTracker";
}

<div class="jumbotron-fluid text-light head_page"  >
    <div class="container text-center container_padding" >
        <div>
            <h1 class="display-3">
                <em>
                    <strong>
                        TOGETHER <br />
                        WE <span class="span_style">FIGHT</span>
                    </strong>
                </em>
            </h1>
        </div>
        <div>
            <p class="lead">
                Be <span class="span_style"><strong>INFORMED.</strong></span>&nbsp;&nbsp;&nbsp;
                Be <span class="span_style"><strong>PREPARED.</strong></span>&nbsp;&nbsp;&nbsp;
                Be <span class="span_style"><strong>SMART.</strong></span>&nbsp;&nbsp;&nbsp;
                Be <span class="span_style"><strong>SAFE.</strong></span>&nbsp;&nbsp;&nbsp;<br />
                Be <span class="span_style"><strong>READY</strong></span> to fight <span class="span_style"><strong>#COVID19</strong></span>
            </p>
        </div>
    </div>
</div>
<section class="jumbotron text-center">
    <div class="container">
        <h2 style="color: teal">Get live data for better decisions in an uncertain time</h2>
        <p class="lead text-muted">
            Stay up-to-date with valuable coronavirus (COVID-19) data summarized by confirmed cases and deaths and vaccine administeration. <br />
            "We are in this together -and we will get through this together."
        </p>
    </div>
</section>
<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <img src="/img/WearMasks.png" alt="Wear Masks">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow border-0">
                <img src="/img/WashHands.png" alt="Wash Hands">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <img src="/img/SaferChoices.jpg" class="img_style" alt="Safer Choices">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow border-0">
                <img src="/img/GetVaccinated.jpg" class="img_style" alt="Get Vaccinated">
            </div>
        </div>
    </div>
</div>

