@page
@model IndexModel
@{
    ViewData["Title"] = "CovidTracker";
}

<div class="jumbotron-fluid text-light" style="background-image: linear-gradient(rgba(0,0,0,.40), rgba(0,0,0,.40)), url('/img/BannerBackground.jpg'); height: 450px; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: black">
    <div class="container text-center" style="padding: 5rem 2rem; margin:auto">
        <div>
            <h1 class="display-3">
                <em>
                    <strong>
                        TOGETHER <br />
                        WE <span style="color: orangered">FIGHT</span>
                    </strong>
                </em>
            </h1>
        </div>
        <div>
            <p class="lead">
                Be <span style="color: orangered"><strong>INFORMED.</strong></span> 
                Be <span style="color: orangered"><strong>PREPARED.</strong></span> 
                Be <span style="color: orangered"><strong>SMART.</strong></span> 
                Be <span style="color: orangered"><strong>SAFE.</strong></span><br />
                Be <span style="color: orangered"><strong>READY</strong></span> to fight <span style="color: orangered"><strong>#COVID19</strong></span>
</p>
        </div>
    </div>
</div>
<section class="jumbotron text-center">
    <div class="container">
        <h2>Get live data for better decisions in an uncertain time</h2>
        <p class="lead text-muted">
            Stay up-to-date with valuable coronavirus (COVID-19) data summarized by confirmed cases, geography, testing and treatment, projections, and economic impact.
        </p>
    </div>
</section>
